---
import Terminal from "../layouts/Terminal.astro";
import RadarChart from "../components/RadarChart.astro";
import TerminalBorder from "../components/TerminalBorder.astro";

const max = 100;
const data = [
    { name: "Gamedev", weight: 70 },
    { name: "Backend", weight: 40 },
    { name: "Low-Level", weight: 63 },
    { name: "Tooling", weight: 100 },
    { name: "Frontend", weight: 15 },
];

const langs = ["Java", "C/C++", "Golang", "Kotlin", "Rust", "Lua"];
const tools = [
    "Git & GitHub",
    "Sqlite3",
    "Neovim and IntelliJ",
    "Linux",
];
const frameworks = [
    "Spigot API",
    "Bubbletea",
    "Astro",
];
---

<Terminal path="skills">
    <div class="flex">
        <div class="w-[60%] flex-column items-center pt-4">
            <TerminalBorder header="Languages">
                <div class="grid md:grid-cols-3 items-center gap-x-8">
                    {langs.map((lang) => <p>{lang}</p>)}
                </div>
            </TerminalBorder>
            <TerminalBorder header="Frameworks" margin="30px 0">
                <div class="grid md:grid-cols-1 items-center gap-x-8">
                    {frameworks.map((framework) => <p>{framework}</p>)}
                </div>
            </TerminalBorder>
            <TerminalBorder header="Tools">
                <div class="grid md:grid-cols-1 items-center gap-x-8">
                    {tools.map((tool) => <p>{tool}</p>)}
                </div>
            </TerminalBorder>
        </div>
        <div class="w-[40%] pl-4">
            <RadarChart max={max} data={data} />
        </div>
    </div>
</Terminal>
